:root {
    --bg_h: #1d2021;
    --bg: #282828;
    --bg_s: #32302f;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;

    --fg: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;

    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --blue: #83a598;
    --purple: #d3869b;
    --aqua: #8ec07c;
    --gray: #928374;
    --orange: #fe8019;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458588;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --gray-dim: #a89984;
    --orange-dim: #d65d0e;

    --scrollbar-size: 15px;
}

/* Make the scrollbarrs look nice */
::-webkit-scrollbar {
    height: var(--scrollbar-size);
    width: var(--scrollbar-size);
    background-color: var(--bg);
}

::-webkit-scrollbar-track {
    border: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

/* Basic background */

html {
    background-color: var(--bg);
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
}

/* Make the buttons look the same */

button {
    min-width: 8rem;
    height: 2.5rem;
    color: var(--fg);
    padding: 5px 10px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: var(--bg1);
}

button:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}

button:hover:after {
    opacity: 1;
    right: 10px;
}

button:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.checked {
    color: var(--bg_h);
    font-weight: bolder;
    background-color: var(--green);
    accent-color: var(--yellow);
}

/* the display and stuff */

canvas {
    --border-size: 1px;
    --margin-size: 1rem;
    border: 1px solid var(--bg4);
    /* Making the width just the right size so it doesn't overflwo */
    width: calc(100% - calc(var(--margin-size) * 2) - calc(var(--border-size) * 2));
    image-rendering: pixelated;
    aspect-ratio: 2;
    margin: var(--margin-size);
    padding: 0;
}

#display {
    width: 100%;
}

#debugger {
    margin: 1rem;
    min-width: 28rem;
}

#debugger div {
    display: inline-block;
    overflow: scroll;
    min-width: fit-content;
}

.off {
    display: none;
}

#controls {
    margin: 1rem;
}

#load_rom {
    opacity: 0;
}


/* the table stuff */
table {
    border-spacing: 0;
}

.hovering-table td:hover {
    color: var(--green);
}

table thead th {
    background-color: var(--bg1);
    border: solid 1px;
    color: var(--fg);
    /* padding: 10px; */
    text-align: left;
}

table tbody {
    color: var(--fg3);
}

table tbody td {
    min-width: fit-content;
    white-space: nowrap;
    padding: 1px;
}

table {
    overflow: hidden;
    z-index: 1;
}

table tbody td,
table thead th {
    position: relative;
}

.hovering-table tbody td:hover::before {
    background-color: var(--bg_s);
    content: '\00a0';
    height: 100%;
    left: -5000px;
    position: absolute;
    top: 0;
    width: 10000px;
    z-index: -1;
}

.hovering-table tbody td:hover::after {
    background-color: var(--bg_s);
    content: '\00a0';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

table tbody .breakpoint {
    color: var(--red);
}

table tbody .current-instruction {
    background-color: rgba(163, 229, 255, 0.2);
}

/* Range slider */
#speed-display {
    outline: none;
    border: none;
    background: none;
    width: 10rem;
}

.speed-display {
    font-size: 2rem;
    color: var(--fg);
}

#speed-control {
    display: inline-block;
}

.range {
    width: 15rem;
    height: 15px;
    -webkit-appearance: none;
    appearance: none;
    background: var(--bg_h);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--yellow);
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px var(--yellow);
}