html {
    background-color: #242424;
}

html,
body {
    height: 100%;
    margin: 0;
}

canvas {
    height: 100%;
    image-rendering: pixelated;
    aspect-ratio: 2;
    margin: 0;
    padding: 0;
}